apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: model
  name: model
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model
  strategy: {}
  template:
    metadata:
      labels:
        app: model
    spec:
      containers:
      - image: magdy288/house-price-model:latest
        name: house-price-model
        ports:
        - containerPort: 8000
        # Adding the resource configuration
        resources:
        # requests for scheduling scaling
          requests:
            cpu: "50m"
            memory: "64Mi"
        # this for hard-limit given to the pod
          limits:
          cpu: "100m"
          memory: "128Mi"
status: {}
