name: MLops Pipeline

on:
  workflow_dispatch: # run actions with manually trigger
    inputs:
      run_all: # for running all actions steps in this file
        description: 'Run all jobs'
        required: false
        default: 'true'

      run_data_processing: 
        description: 'Run data processing job'
        required: false
        default: 'false' # make the input by default [false]
    
      run_model_training:
        description: 'Run model training job'
        required: false
        default: 'false'
    
      run_build_and_publish:
        description: 'Run build and publish job'
        required: false
        default: 'false'
    
  release:
    types: [created]
    branches: [ main ]
    tags: [ 'v*.*.*' ]

## make an multiple jobs for to be more organized
jobs: # step 1
  data_processing: # name of job
    runs-on: ubuntu-latest # new env for separate job-trigger

    steps:
      - name: Checkout code # main for every steps
        uses: actions/checkout@v6

      - name: Set up python # main for every steps
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
    
      - name: Install dependencies # main for every steps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
    
      - name: Engineer features
        run: |
          python src/features/engineering.py
    
      - name: Upload processed data # it's for uploading files while running
        uses: actions/upload-artifact@v4
        with:
          name: processed-data # the name of artifact uploader, we need it later
          path: data/processed/featured_house_data.csv # the path where upload the artifact

      - name: Upload preprocessor
        uses: actions/upload-artifact@v4
        with:
          name: preprocessor
          path: models/trained/preprocessor.pkl

  model-training:
    needs: data_processing # it's depends on run data_processing step
    runs-on: ubuntu-latest # new env for separate job-trigger

    steps:
      - name: Checkout code # repeated
        uses: actions/checkout@v6

      - name: Set up python # repeated
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
    
      - name: Install dependencies # repeated
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Download processed data # will downloading the artifact file
        uses: actions/download-artifact@v4
        with:
          name: processed-data # the artifact name we will download the file from
          path: data/processed/ # the path we will download the artifact file from
    
      - name: Set up MLflow # Setup the MLflow for trained model
        run: |
          docker pull ghcr.io/mlflow/mlflow:latest
          docker run -d -p 5555:5000 --name mlflow-server ghcr.io/mlflow/mlflow:latest \
            mlflow server --host 0.0.0.0 \
            --backend-store-uri sqlite:///mlflow.db \
            --default-artifact-root /tmp/mlruns

      - name: Wait for MLflow to start # create loop in bash for making sure mlflow up and running before start training the model script
        run: |
          for i in {1..10}; do
            curl -f http://localhost:5000/health || sleep 5;
          done
    
      - name: Train model # it's for creating the model.pkl file in path models
        run: |
          mkdir -p models
          python src/models/train_model.py

      - name: Upload trianed model 
        uses: actions/upload-artifact@v4
        with:
          name: trained-model # the artifact name of uploading the model.pkl file
          path: models/ # the path of uploading the artifact ->  moldels/model.pkl
    
      - name: Clean up MLflow # for cleaning and remove mlflow container after the job done
        run: |
          docker stop mlflow-server || true
          docker rm mlflow-server || true

  build-and-publish: # it's for build and publish the code in docker hub
    needs: model-training # depends on model-reaining step
    runs-on: ubuntu-latest # separate env for this step

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download trained model # download the artifact of training model code -> train_model.py
        uses: actions/download-artifact@v4
        with:
          name: trained-model # the name of artifact 
          path: models/ # the path of artifact folder for download model.pkl from
    
      - name: Download preprocessor # # download the artifact of processing the data
        uses: actions/download-artifact@v4
        with:
          name: preprocessor # the name of artifact
          path: models/trained/ # the artifact path of processing.pkl file
    
      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
        ## for bulding and testing the docker image for api
        # line 1: COMMIT_HASH -> for reduce the hash tag of commit repo to make it short in container image name 
        # line 2: build the docker image with my [username] and [hash tag] 
        # line 3: run the docker image, and name it [test-api]
        # line 4,5,6: bash loop to check if container image is running fine
        # line 7: for checking the container in terminal and see the running process
      - name: Build and test Docker image 
        run: |
          COMMIT_HASH=$(echo ${{ github.sha }} | cut -c1-7)
          docker build -t docker.io/${{ vars.DOCKERHUB_USERNAME }}/house-price-model:$COMMIT_HASH -f Dockerfile .
          docker run -d -p 8000:8000 --name test-api docker.io/${{ vars.DOCKERHUB_USERNAME }}/house-price-model:$COMMIT_HASH
          for i in {1..10}; do
            curl -f http://localhost:8000/health && break || sleep 5;
          done
          docker logs test-api
    
      - name: Clean up Test Container # Clean the container after finishing testing it
        run: |
          docker stop test-api || true
          docker rm test-api || true
    
      - name: Log in to DockerHub Container Registry # for connecting Docker with GitHub
        uses: docker/login-action@v3
        with:
          registry: docker.io # it's log registry 
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # line 1: Convert the hash tag git to be smaller
      # line 2: create the tag with [git hash, latest]
      # line 3: push the image with tag git hash
      # line 4: push the image with latest version tag

      - name: Push Docker image to DockerHub
        run: |
          COMMIT_HASH=$(echo ${{ github.sha }} | cut -c1-7)
          docker tag docker.io/${{ vars.DOCKERHUB_USERNAME }}/house-price-model:$COMMIT_HASH docker.io/${{ vars.DOCKERHUB_USERNAME }}/house-price-model:latest
          docker push docker.io/${{ vars.DOCKERHUB_USERNAME }}/house-price-model:$COMMIT_HASH
          docker push docker.io/${{ vars.DOCKERHUB_USERNAME }}/house-price-model:latest
